$lightBlue:#247BA0;
$blue: #248ccc;
// $lightOrange: #F4A261;
$gray: #83838c;
// $lightBlue2: #21D4FD;

$gradient: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
$violet: #210d6b;
$white: #ffff;
$black: #111010;