@import "colors.scss";
@import "fonts.scss";

body {
  background-image: $gradient;

  .container {
    display: flex;
    align-items: center;
    margin-top: 10vh;
    color: $white;
    border: solid 5px $white;
    border-radius: 10px;
    width: 70vw;
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-padding: 50px 0 0 50px;

    &::-webkit-scrollbar {
      width: 0.7em;
      cursor: pointer;
      height: 30px;
    }

    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      border-radius: 5px;
      background-color: $violet;
    }
    &::-webkit-scrollbar-track {
      border: 14px solid white;
      border-radius: 53px;
    }

    .information {
      margin-top: auto;
      padding: 2vw;

      .underlined {
        color: $violet;
        margin-left: -20px;
        text-decoration: underline;
      }

      li {
        padding: 10px 0;
      }
    }
  }
}
